<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
</head>
<body>
    <div class="container">

      <div class="content">
        <div class="page-header">
          <h1>{{ page.title }} <small>{{ page.subtitle }}</small></h1>
        </div>
        <div class="row">
            {{ content }}
        </div>
      </div>

    </div> 

</body>
</html>
